<header class="pt-8 pb-8 md:pt-16 pb-32 text-center">  
  <div class="flex items-center flex-col space-y-4">
    <img src="/assets/images/avatar.png" class="w-24 h-24 shadow-lg rounded-full" loading="lazy" alt="Rob Hough" />
    <h1 class="md:text-4xl">Hey my name is Rob 👋</h1>
    <p class="text-lg md:text-xl">I'm a product designer, writer and podcast host from the UK.</p>
  </div>
  <div class="pt-8 flex flex-col justify-center md:flex-row space-y-2 md:space-y-0 md:space-x-2">
    <a href="mailto:robhough@hey.com" class="btn btn-primary">Get in touch</a>
    <a href="/about" class="btn-secondary">More about me</a>
  </div>
</header>