---
layout: layouts/base.njk
templateClass: home
eleventyNavigation:
  key: Home
  order: 1
---
{% include "header.njk" %}
<section>
  <h5>Latest writing</h5>
  {% set postslist = collections.posts | reverse %}  
  {% include "postslist.njk" %}  
</section>