
@font-face {
    font-family:"Proxima Nova Alt Regular";
    src:url("Proxima Nova Alt Regular.woff2") format("woff2"),url("Proxima Nova Alt Regular.woff") format("woff"),url("Proxima Nova Alt Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        