<header class="page-header">
  <img src="/static/avatar.png" loading="lazy" class="avatar" alt="Rob Hough" />
  <h1>Hey my name is Rob 👋</h1>
  <p>I'm a product designer, writer and podcast host from the UK.</p>
  <div class="buttons">
    <a href="mailto:robhough@hey.com" class="btn btn-primary">Get in touch</a>
    <a href="/about" class="btn">More about me</a>
  </div>
</header>