<nav role="navigation"> 
  <a href="/">
    <img src="/static/avatar.png" loading="lazy" alt="Rob Hough" />
  </a>
  <ul class="links links-pages">        
    <li><a class="{{ 'active' if '/about' in page.url }}" href="/about">About</a></li>    
    <li><a class="{{ 'active' if '/now' in page.url }}" href="/now">Now</a></li>
    <li><a class="{{ 'active' if '/posts' in page.url }}" href="/posts">Blog</a></li>
  </ul> 
</nav> 