:root {
  --bg:#fbf7f0;
  --primary:rgb(253, 126, 20);
  --primary-dark:rgb(205, 99, 12);
  --primary-muted:#ffd8a8;
  --grey:#cbc6bd;

  --text-dark:#1e2326;
  --text-light:#43484b;
  --text-disabed:#727576;

  --font-sans-serif: 'Proxima Nova Alt', sans-serif;
  --font-serif: 'Galaxie Copernicus', serif;
  --font-fancy: 'Rylan', sans-serif;
  --font-stack:var(--font-sans-serif);

  --text-size-sm:0.75rem;
  --text-size-base:1rem;
  --text-size-md:1.25rem;
  --text-size-lg:1.5rem;
  --text-line-height: calc(var(--text-size-base) * 1.65);

  --spacing-sm: calc(var(--text-line-height) * 0.5);
  --spacing-md: calc(var(--text-line-height) * 1);
  --spacing-lg: calc(var(--text-line-height) * 1.5);
  --spacing-xl: calc(var(--text-line-height) * 2);
  --spacing-max-width:48rem;
}

@media(min-width:48rem) {
  :root {
    --text-size-sm:1rem;
    --text-size-base:1.25rem;
    --text-size-md:1.75rem;    
    --text-size-lg:2.25rem;
    --text-line-height: calc(var(--text-size-base) * 1.5);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg:#1f2122;
    --grey:#43484b;
    
    --text-dark:rgba(251, 247, 240, 1);    
    --text-light:rgba(251, 247, 240, .8);
    --text-disabled:rgba(251, 247, 240, .5);
  }
}



/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
html,
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "kern", "liga", "onum";
  -webkit-font-smoothing: antialiased;
}
body {
  min-height: 100vh;
  font-family:var(--font-stack);
  background-color:var(--bg);
  font-size:var(--text-size-base);
  line-height: 1.65;
  color:var(--text-light);
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: var(--text-line-height);
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
  height:auto;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

h1.hero {
  font-family: var(--font-serif);
  font-weight: normal;
  padding-top:0.3em;
}

h1,
h2,
h3 {  
  font-family:var(--font-sans-serif);
  font-weight:700;
  line-height: 1.25;
  letter-spacing: -0.01em;
  color:var(--text-dark);  
  margin:0 0 var(--spacing-md) 0;
}


h1,
.text-lg {  
  font-size:var(--text-size-lg);
  margin-left:-0.035em;
}
h2,
.text-md {
  font-size:var(--text-size-md);
}
h3,
.text-base {
  font-size:var(--text-size-base);
  margin-bottom:var(--spacing-sm);
}

p,
small {
  font-family: var(--font-serif);
  font-size:var(--text-size-base);
  line-height: 1.65;
  letter-spacing: 0;
  margin:0;
  color:var(--text-light);  
}


small {
  font-size:var(--text-size-sm);
}

a {    
  color:var(--text-light);
  font-size:var(--text-size-base);
  padding-bottom: 0;
  border-bottom: 2px solid var(--primary);
  text-decoration: none;
}
a:hover,
a:active {
  color:var(--primary);
}

a.button {
  display: inline-block;
  font-size:var(--text-size-base);
  color:var(--text-dark);
  font-weight:700;
  text-decoration: none;  
  border-bottom: none;  
  background-color:var(--primary);
  color:#fff;  
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  margin-top:var(--spacing-md);
  transform:translateY(0);
  box-shadow:0 1px 1px rgba(0, 0, 0, 0.2);
  transition: all .2s ease;
}
a.button:hover {  
  transform:translateY(3%);
  box-shadow:0 1px 1px rgba(0, 0, 0, 0);
  background-color: var(--primary-dark);
  transition: all .2s ease;
}
a.page-link {
  display:block;
  padding-bottom:var(--spacing-sm);
  border-bottom:none;
}
a .title {
  font-family: var(--font-sans-serif);
  display: inline-block;
  margin: 0 0 .5rem 0;
  line-height: 1.2;
  font-weight:700;
  color:var(--text-dark);
  word-break: break-word;
  border-bottom: 2px solid var(--primary);
}
a small {
  display:block;
}
a:hover .title {
  color:var(--primary);
}

.highlight {
  background: var(--primary);
  background-blend-mode: multiply;
  padding: .2rem .5rem .3rem .5rem;
  -webkit-box-decoration-break: clone;
}

main {
  max-width:var(--spacing-max-width);
  margin:0 auto;
  padding:0 1.5rem;
}

grid {
  display:grid;
  grid-template-columns: repeat(var(--grid-col), 1fr);
  grid-gap:var(--spacing-sm);
  min-height: 1px;
}
@media(min-width:48rem) {
  grid {
    display:grid;
  }
}
grid[columns="2"] {
  --grid-col:2
}
grid[columns="3"] {
  --grid-col:4
}
grid[columns="6"] {
  --grid-col:6
}
ul {
  padding-left:var(--spacing-sm);
  margin:0;
}
ul > li {
  position:relative;
  list-style-type: none;
  line-height: 1.65;
}
ul > li:before {  
  content: "";
  position: absolute;
  background-color: var(--grey);  
  border-radius: 50%;
  width: .375rem;
  height: .375rem;
  top: .875rem;
  left:-1rem;
}
ul.link-list {
  display:inline-block;
  padding:0;
  margin:0;
}
ul.link-list li {
  list-style-type: none;
}
ul.link-list li:before {
  display:none;
}

header {
  text-align:center;
  padding-top:var(--spacing-xl);
  padding-bottom:var(--spacing-xl);
}
@media(min-width:48rem) {
  header h1 {
    max-width:25ch;
    margin-left:auto;
    margin-right:auto;
  }
}

nav {
  display:block;
  padding:var(--spacing-md) var(--spacing-sm);  
}
nav ul.link-list {
  margin:0;
  padding:0;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-flow:row nowrap;
  list-style-type: none;
}
nav ul li a {
  padding:0 .5rem;
  border-bottom-color:transparent;
}

section{
  margin-top:var(--spacing-xl)
}
section:last-of-type {
  margin-bottom:var(--spacing-xl)
}
header img {  
  margin:0 auto;
  margin-bottom:var(--spacing-md);
  box-shadow: 0 1rem 2rem 0 rgba(0,0,0,0.1), 0 0.25rem 1rem 0 rgba(0,0,0,0.08);
  border-radius:50%;
  max-width:5rem;
}
@media(min-width:48rem) {
  header img {    
    max-width:8rem;      
  }
}
.page-header h1 {
  margin-top:var(--spacing-sm);
  margin-bottom:var(--spacing-sm);
}
.page-header p {
  margin-top:0rem;
}

.post-list li {
  display:flex;
  justify-content: flex-start;  
  flex-flow:column;
}
.post-list li:before {
  display:none;
}
.post-list small {
  flex:1;
  line-height: 2;
}
@media(min-width:48rem) {
  .post-list li {
    flex-flow:wrap;
  }
  .post-list small {
    flex:0 0 15%;
  }
}
.post-list a {
  display:block;
  padding-bottom:var(--spacing-sm);
  border-bottom:none;
}

.post p + *,
.post h2 + *,
.post img + *,
.post ul + * {
  margin-top:var(--spacing-md);
}

.post img {
  box-shadow: 0 1rem 2rem 0 rgba(0,0,0,0.1), 0 0.25rem 1rem 0 rgba(0,0,0,0.08);
}

footer {
  margin:4rem 0;
}