---
layout: layouts/base.njk
contained: true
templateClass: post
---
<header role="banner" class="page-header">  
  <h1>{{ title }}</h1>    
  <p>Last updated {{date | readableDate}}</p>
</header>

{{ content | safe }}