---
layout: layouts/base.njk
contained: true
templateClass: post
---
<header role="banner" class="page-header">  
  <h1>{{ title }}</h1>    
  <small>Last updated {{date | readableDate}}</small>
</header>

{{ content | safe }}