---
layout: layouts/base.njk
contained: true
templateClass: post
---
<header role="banner" class="post-header">  
  <p>{{ date | readableDate }}</p>  
  <h1>{{ title }}</h1>
</header>
<section class="content">
  {{ content | safe }}
</section>